* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.App{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

	#drum-machine {
		width: 80%;
		border: 10px solid red;
		border-radius: 10px;
		display: flex;

		#padsPanel {
			width: 50%;
			background: green;
			display: flex;
		    flex-wrap: wrap;
			.drum-pad {
				background: gray;
				width: 25%;
				margin: 10px;
				padding-top: 25%;
				position: relative;
				cursor: pointer;
				box-sizing: border-box;
				border-radius: 5%;
				span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}
		#displayBlock {
			width: 50%;
			background: blue;
			display: flex;
			flex-direction:column;
			div {
				height: 33.3%;
			}
			.powerButton{
				background: burlywood;
				position: relative;
				.switch {
				  position: relative;
				  display: inline-block;
				  width: 60px;
				  height: 34px;
				  position: absolute;
				  left: 50%;
				  top: 50%;
				  transform:translate(-50%,-50%);
				}
				.switch input { 
				  opacity: 0;
				  width: 0;
				  height: 0;
				}

				.slider {
				  position: absolute;
				  cursor: pointer;
				  top: 0;
				  left: 0;
				  right: 0;
				  bottom: 0;
				  background-color: #ccc;
				  -webkit-transition: .4s;
				  transition: .4s;
				}

				.slider:before {
				  position: absolute;
				  content: "";
				  height: 26px;
				  width: 26px;
				  left: 4px;
				  bottom: 4px;
				  background-color: white;
				  -webkit-transition: .4s;
				  transition: .4s;
				}

				input:checked + .slider {
				  background-color: #2196F3;
				}

				input:checked + .slider:before {
				  -webkit-transform: translateX(26px);
				  -ms-transform: translateX(26px);
				  transform: translateX(26px);
				}

				/* Rounded sliders */
				.slider.round {
				  border-radius: 34px;
				}

				.slider.round:before {
				  border-radius: 50%;
				}
			}
			.displayCurrent{
				background: blue;
				position: relative;
				div{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					color: white;
					height: auto;
				}
			}
			.volume {
				background: brown;
				position: relative;
				input {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					background: none;
					width: 50%;
				}

			}
		}
		


	}
}
//styling for range input
input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
 
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 3px solid #2179D1;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 3px solid #2179D1;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 3px solid #2179D1;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}