* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
#drum-machine {
	position: fixed;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	width: 80%;
	border: 10px solid red;
	border-radius: 10px;
	display: flex;

	#padsPanel {
		width: 50%;
		background: green;
		display: flex;
	    flex-wrap: wrap;
		.drum-pad {
			background: gray;
			width: 25%;
			margin: 10px;
			padding-top: 25%;
			position: relative;
			cursor: pointer;
			box-sizing: border-box;
			border-radius: 5%;
		}
	}
	#display {
		width: 50%;
		background: blue;
	}
	


}