* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.App{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

	#drum-machine {
		width: 80%;
		border: 10px solid red;
		border-radius: 10px;
		display: flex;

		#padsPanel {
			width: 50%;
			background: green;
			display: flex;
		    flex-wrap: wrap;
			.drum-pad {
				background: gray;
				width: 25%;
				margin: 10px;
				padding-top: 25%;
				position: relative;
				cursor: pointer;
				box-sizing: border-box;
				border-radius: 5%;
				span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}
		#display {
			width: 50%;
			background: blue;
			display: flex;
			flex-direction:column;
			div {
				height: 33.3%;
			}
			.powerButton{
				background: burlywood;
			}
			.displayCurrent{
				background: blue;
			}
			.volume {
				background: brown;
			}
		}
		


	}
}